<style>
body {
  padding-top: 4.5rem;
}
</style>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="{% url 'questions:index' %}">E-learning</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'questions:index' %}">Statystyki</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'questions:ask' %}">Losuj pytanie</a>
      </li>
    </ul>
      <span class="navbar-text">Cześć {{ user }}!</span>
      <a href="{% url 'questions:logout' %}" class="btn btn-outline-primary mx-1">Wyloguj</a>
  </div>
</nav>